Repository vlasovskikh/funcparserlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittest, doctest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: "20.8b1"
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.0"
    hooks:
      - id: flake8
        args: ["--max-line-length=88"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.812"
    hooks:
      - id: mypy
        args: []
        files: "^tests/"
  - repo: local
    hooks:
      - id: unittest
        name: unittest
        entry: poetry run python -m unittest discover
        language: system
        types:
          - python
        pass_filenames: false
  - repo: local
    hooks:
      - id: doctest
        name: doctest
        entry: poetry run python -m doctest
        language: system
        files: (^funcparserlib/|^doc/|^docs/)
        types_or:
          - python
          - markdown

Fixed pipe syntax for union types not available until 3.9
  funcparserlib/lexer.py
Due: unittest, doctest

Converted dot parser to Python 3 only
  funcparserlib/util.py
  tests/dot.py
  tests/test_dot.py
Due: unittest, doctest

Converted json parser to Python 3 only
  tests/json.py
  tests/test_json.py
Due: unittest

Converted tests to Python 3 and removed remaining 2.7 dependencies
  mypy.ini
  tests/test_parsing.py
  tox.ini
Due: unittest

Updated copyright year
  LICENSE
Due: none

Dropped support for Python 3.7
  .github/workflows/python-checks.yml
  docs/changes.md
  docs/index.md
  poetry.lock
  pyproject.toml
  tox.ini
Due: doctest

Updated mkdocstrings to use python instead of python-legacy
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

GH actions: Try to get rid of installing dependencies for tests
  .github/workflows/python-checks.yml
Due: none

Revert "GH actions: Try to get rid of installing dependencies for tests"
  .github/workflows/python-checks.yml
Due: none

pre-commit: Updated hooks
  .pre-commit-config.yaml
Due: none

Added support for Python 3.12
  .github/workflows/gh-pages.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/python-checks.yml
  docs/changes.md
  pyproject.toml
  tox.ini
Due: doctest

Shorter and cleaner notice about dropping 2.7 support
  docs/changes.md
Due: doctest

Added Fleet run config
  .fleet/run.json
Due: none

Fixed recommendation about `~=` dependency
  docs/changes.md
Due: doctest

Updated stats about projects that use funcparserlib
  README.md
  docs/index.md
Due: doctest

deploy: 18c0a99dcdb427e35226c74b7cc2617223c8e1fa
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none
