Repository vlasovskikh/funcparserlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittest, doctest

unittest:
  name: unittest
  entry: poetry run python -m unittest discover
  language: system
  pass_filenames: false

doctest:
  name: doctest
  entry: poetry run python -m doctest
  language: system

deploy: c4c41178ef71c0071bae0bb6f671e910abf57ece
  sitemap.xml.gz
Due: none

Bumped version to 1.0.0a2
  pyproject.toml
Due: none

deploy: d67a4ce0947ef9d58dc8a276a7c5b2e244cad375
  sitemap.xml.gz
Due: none

Fixed spelling
  README.md
  docs/index.md
Due: doctest

Updated the homepage URL
  pyproject.toml
Due: none

deploy: 31e3e106681f1af171e208eb04cad253829315b8
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Verson 1.0.0
  docs/changes.md
  pyproject.toml
Due: doctest

deploy: 8d83323e461f7a3fd142706f05e24ba4e646b3c0
  changes/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Added the repo URL
  pyproject.toml
Due: none

deploy: a947539c15aea8f136e17909b08976a64927ba04
  sitemap.xml
  sitemap.xml.gz
Due: none

Updated dev dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

deploy: a0ccabec1450184ffe809c8f2783fec935401323
  404.html
  api/index.html
  api/lexer/index.html
  api/parser/index.html
  api/util/index.html
  assets/javascripts/bundle.6c7ad80a.min.js
  assets/javascripts/bundle.6c7ad80a.min.js.map
  assets/javascripts/bundle.6e54b5cd.min.js
  assets/javascripts/bundle.6e54b5cd.min.js.map
  assets/javascripts/workers/search.2a1c317c.min.js.map
  assets/javascripts/workers/search.b97dbffb.min.js
  assets/javascripts/workers/search.b97dbffb.min.js.map
  assets/stylesheets/main.120efc48.min.css
  assets/stylesheets/main.120efc48.min.css.map
  assets/stylesheets/main.1d29e8d0.min.css
  assets/stylesheets/main.1d29e8d0.min.css.map
  assets/stylesheets/palette.9647289d.min.css
  assets/stylesheets/palette.9647289d.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  changes/index.html
  getting-started/index.html
  getting-started/parse-tree/index.html
  getting-started/parsing/index.html
  getting-started/tips-and-tricks/index.html
  getting-started/tokenizing/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

GH actions: Run checks via pre-commit
  .github/workflows/python-checks.yml
Due: none

Removed mypy and flake8 from dev dependencies
  pyproject.toml
Due: none

deploy: 3c02c513d770577ef472958eac22a3864f49d1b2
  sitemap.xml
  sitemap.xml.gz
Due: none

Updated versions of pre-commit hooks
  .pre-commit-config.yaml
Due: none

deploy: 3f49efd8bf6dbda49a53f19b205719c6e1f38e78
  sitemap.xml.gz
Due: none

Updated mkdocs versions
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

GH actions: Moved 3.7 to unittest-only checks due to recent issues with flake8 on 3.7
  .github/workflows/python-checks.yml
Due: none

deploy: a80e76d3565455e8750f9f95b39ea79553b73e54
  404.html
  api/index.html
  api/lexer/index.html
  api/parser/index.html
  api/util/index.html
  assets/javascripts/bundle.6c7ad80a.min.js
  assets/javascripts/bundle.6c7ad80a.min.js.map
  assets/javascripts/bundle.d6c3db9e.min.js
  assets/javascripts/bundle.d6c3db9e.min.js.map
  assets/javascripts/lunr/min/lunr.ar.min.js
  assets/javascripts/lunr/min/lunr.ko.min.js
  assets/javascripts/lunr/min/lunr.ta.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js.map
  assets/javascripts/workers/search.b97dbffb.min.js.map
  assets/stylesheets/main.1d29e8d0.min.css
  assets/stylesheets/main.1d29e8d0.min.css.map
  assets/stylesheets/main.20d9efc8.min.css
  assets/stylesheets/main.20d9efc8.min.css.map
  assets/stylesheets/palette.815d1a91.min.css
  assets/stylesheets/palette.815d1a91.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  changes/index.html
  getting-started/index.html
  getting-started/parse-tree/index.html
  getting-started/parsing/index.html
  getting-started/tips-and-tricks/index.html
  getting-started/tokenizing/index.html
  index.html
  sitemap.xml.gz
Due: none

Removed black from dev dependencies
  pyproject.toml
Due: none

deploy: ceab747e184bc4d03ec1c4156d978e4be30596fa
  sitemap.xml.gz
Due: none

Added support for Python 3.11
  .github/workflows/gh-pages.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/python-checks.yml
  docs/changes.md
  pyproject.toml
  tox.ini
Due: doctest

deploy: c3198398aa7b7015a823fcb5f043b2aad604df5c
  changes/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Version 1.0.1
  docs/changes.md
  pyproject.toml
Due: doctest

deploy: f0abfe136761047f5b76f9ebda73d4eff033f0f7
  changes/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Fixed formatting
  docs/changes.md
Due: doctest

deploy: a537c304cb8003d95b17e7ae62eae9332fb65ba6
  changes/index.html
  sitemap.xml.gz
Due: none

Updated dev dependencies
  poetry.lock
Due: none

deploy: 5af4f8cc445d3f919590b8729430c576d4426917
  sitemap.xml
  sitemap.xml.gz
Due: none

Updated dev dependencies
  poetry.lock
  pyproject.toml
Due: none

deploy: 343a65d074bb1105381a619a6352b24a6c1b3ac0
  404.html
  api/index.html
  api/lexer/index.html
  api/parser/index.html
  api/util/index.html
  assets/javascripts/bundle.b78d2936.min.js
  assets/javascripts/bundle.b78d2936.min.js.map
  assets/javascripts/bundle.d6c3db9e.min.js
  assets/javascripts/bundle.d6c3db9e.min.js.map
  assets/javascripts/workers/search.16e2a7d4.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js.map
  assets/javascripts/workers/search.208ed371.min.js
  assets/javascripts/workers/search.208ed371.min.js.map
  assets/stylesheets/main.20d9efc8.min.css
  assets/stylesheets/main.20d9efc8.min.css.map
  assets/stylesheets/main.402914a4.min.css
  assets/stylesheets/main.402914a4.min.css.map
  assets/stylesheets/palette.815d1a91.min.css
  assets/stylesheets/palette.815d1a91.min.css.map
  assets/stylesheets/palette.a0c5b2b5.min.css
  assets/stylesheets/palette.a0c5b2b5.min.css.map
  changes/index.html
  getting-started/index.html
  getting-started/parse-tree/index.html
  getting-started/parsing/index.html
  getting-started/tips-and-tricks/index.html
  getting-started/tokenizing/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

GH actions: Freeze poetry version
  .github/workflows/python-checks.yml
Due: none

GH actions: Reset poetry version for 2.7 to the last compatible
  .github/workflows/python-checks.yml
Due: none

Dropped support for Python 2.7 in pyproject.toml
  docs/changes.md
  poetry.lock
  pyproject.toml
Due: doctest

GH actions: Dropped support for Python 2.7
  .github/workflows/python-checks.yml
Due: none

pre-commit: Updated hooks
  .pre-commit-config.yaml
Due: none

Suppressed warnings about unused imports in type hint comments
  tests/dot.py
  tests/json.py
  tests/test_dot.py
  tests/test_json.py
  tests/test_parsing.py
Due: unittest

Inlined type hints for lexer.py and fixed mypy errors
  .pre-commit-config.yaml
  funcparserlib/lexer.py
  funcparserlib/lexer.pyi
Due: unittest, doctest

Moved all type hints from stubs to the library sources
  funcparserlib/parser.py
  funcparserlib/parser.pyi
  funcparserlib/util.py
  funcparserlib/util.pyi
Due: unittest, doctest

Path conditions:
  unittest: any of: \.py$
  doctest: any of: (^funcparserlib/|^doc/|^docs/) and \.py$, \.(md|markdown|mdown)$
