Repository vlasovskikh/funcparserlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittest, doctest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: "20.8b1"
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.0"
    hooks:
      - id: flake8
        args: ["--max-line-length=88"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.812"
    hooks:
      - id: mypy
        args: []
        files: "^tests/"
  - repo: local
    hooks:
      - id: unittest
        name: unittest
        entry: poetry run python -m unittest discover
        language: system
        types:
          - python
        pass_filenames: false
  - repo: local
    hooks:
      - id: doctest
        name: doctest
        entry: poetry run python -m doctest
        language: system
        files: (^funcparserlib/|^doc/|^docs/)
        types_or:
          - python
          - markdown

Added support for Python 3.10
  .github/workflows/python-checks.yml
  docs/changes.md
  pyproject.toml
Due: doctest

deploy: 28a9b1cd3ac0c8308689fa26604e7cca111d2d4e
  changes/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Revert "Added support for Python 3.10"
  .github/workflows/python-checks.yml
  docs/changes.md
  pyproject.toml
Due: doctest

deploy: cffcd40c924142377509998e2d7327bf070ac919
  changes/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

GH actions: Script to publish to PyPI
  .github/workflows/publish-to-pypi.yml
Due: none

deploy: 079dacce5ce47d90166dfeaeb20bb6ac8b02ce6f
  sitemap.xml.gz
Due: none

Updated dev dependencies
  .pre-commit-config.yaml
  mypy.ini
  poetry.lock
  pyproject.toml
Due: none

deploy: 98fc8db4fb460b10ce264076c850c39de887b84f
  404.html
  api/index.html
  api/lexer/index.html
  api/parser/index.html
  api/util/index.html
  assets/javascripts/bundle.7353b375.min.js
  assets/javascripts/bundle.7353b375.min.js.map
  assets/javascripts/bundle.756773cc.min.js
  assets/javascripts/bundle.756773cc.min.js.map
  assets/javascripts/lunr/min/lunr.hi.min.js
  assets/javascripts/lunr/min/lunr.th.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/lunr/wordcut.js
  assets/javascripts/workers/search.409db549.min.js
  assets/javascripts/workers/search.409db549.min.js.map
  assets/javascripts/workers/search.fe42c31b.min.js
  assets/javascripts/workers/search.fe42c31b.min.js.map
  assets/stylesheets/main.802231af.min.css
  assets/stylesheets/main.802231af.min.css.map
  assets/stylesheets/main.9299cb39.min.css
  assets/stylesheets/main.9299cb39.min.css.map
  assets/stylesheets/palette.3f5d1f46.min.css
  assets/stylesheets/palette.3f5d1f46.min.css.map
  assets/stylesheets/palette.ef6f36e2.min.css
  assets/stylesheets/palette.ef6f36e2.min.css.map
  changes/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Got rid of nested exceptions while parsing `__or__` alternatives and preparing expected tokens #52
  funcparserlib/parser.py
Due: unittest, doctest

deploy: 29dc2991088565e17ab964c3f63efedc13faa688
  sitemap.xml
  sitemap.xml.gz
Due: none

Better error message for eof reached in the middle of __or__ alternatives
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Omit parentheses in the name of an expected __rshift__ parser for readability
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Fixed the name of the ignored parser in error messages
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Better error message for some(...) without a name
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Better error message for forward_decl() without a name
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Made the JSON parser almost compatible with RFC 8259
  tests/json.py
Due: unittest

deploy: 3162777144d0013aad6a0293de57ad2ca63ed4cf
  sitemap.xml.gz
Due: none

Switch to poetry-core
  pyproject.toml
Due: none

deploy: b8c626f3668e6c5ba47046fbe2a8e4fbc3db65b6
  sitemap.xml
  sitemap.xml.gz
Due: none

Dropped support for Python 3.6, updated dependencies
  .github/workflows/python-checks.yml
  .pre-commit-config.yaml
  README.md
  docs/changes.md
  poetry.lock
  pyproject.toml
  tox.ini
Due: doctest

Fixed type checking warnings
  funcparserlib/parser.py
  funcparserlib/parser.pyi
Due: unittest, doctest

Added support for Python 3.10
  .github/workflows/gh-pages.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/python-checks.yml
  docs/changes.md
  pyproject.toml
  tox.ini
Due: doctest

Updated to newer mkdocstrings[python]
  funcparserlib/parser.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: unittest, doctest

deploy: b0eb45de1bf934961b2a4d9de0c62bc54f24d000
  404.html
  api/index.html
  api/lexer/index.html
  api/parser/index.html
  api/util/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.6e54b5cd.min.js
  assets/javascripts/bundle.6e54b5cd.min.js.map
  assets/javascripts/bundle.756773cc.min.js
  assets/javascripts/bundle.756773cc.min.js.map
  assets/javascripts/workers/search.2a1c317c.min.js
  assets/javascripts/workers/search.2a1c317c.min.js.map
  assets/javascripts/workers/search.409db549.min.js
  assets/javascripts/workers/search.409db549.min.js.map
  assets/stylesheets/main.120efc48.min.css
  assets/stylesheets/main.120efc48.min.css.map
  assets/stylesheets/main.802231af.min.css
  assets/stylesheets/main.802231af.min.css.map
  assets/stylesheets/palette.3f5d1f46.min.css
  assets/stylesheets/palette.3f5d1f46.min.css.map
  assets/stylesheets/palette.9647289d.min.css
  assets/stylesheets/palette.9647289d.min.css.map
  changes/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Bumped version to 1.0.0a1
  pyproject.toml
Due: none

deploy: e344d7e2439e5887be390afe60886b80b340a4f4
  sitemap.xml.gz
Due: none

Added `TokenSpec(type, pattern[, flags])` to simplify the use of `make_tokenizer()`
  docs/api/index.md
  docs/api/lexer.md
  docs/changes.md
  funcparserlib/lexer.py
  funcparserlib/lexer.pyi
  mkdocs.yml
  tests/dot.py
  tests/json.py
  tests/test_parsing.py
Due: unittest, doctest

changes: Mentioned the switch to poetry-core
  docs/changes.md
Due: doctest

Went back to python-legacy for mkdocstrings due to rendering issues
  docs/api/lexer.md
  poetry.lock
  pyproject.toml
Due: doctest

Allow specifying type parameters for Parser[A, B]
  funcparserlib/parser.py
Due: unittest, doctest

Renamed "end of file" to "end of input"
  docs/api/parser.md
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Fixed debug output of serveral parsers
  funcparserlib/parser.py
Due: unittest, doctest

Fixed error message for incomplete input of many() + finished
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Fixed error message for rollback to all failed alternatives
  funcparserlib/parser.py
  tests/test_parsing.py
Due: unittest, doctest

Added Getting Started guide
  docs/getting-started/index.md
  docs/getting-started/parse-tree.md
  docs/getting-started/parsing.md
  docs/getting-started/tips-and-tricks.md
  docs/getting-started/tokenizing.md
  mkdocs.yml
Due: doctest

Updated README
  README.md
  docs/index.md
Due: doctest

Removed old docs
  .github/workflows/python-checks.yml
  .pre-commit-config.yaml
  doc/Brackets.md
  doc/FAQ.md
  doc/Illustrated.md
  doc/Tutorial.md
Due: doctest

Updated the changelog
  docs/changes.md
Due: doctest

deploy: 727929c3968985e3dfe9e75d0feadfdf3869855e
  api/index.html
  api/lexer/index.html
  api/parser/index.html
  api/util/index.html
  assets/_mkdocstrings.css
  getting-started/index.html
  getting-started/parse-tree/index.html
  getting-started/parsing/index.html
  getting-started/tips-and-tricks/index.html
  getting-started/tokenizing/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Synced README.md with docs/index.md
  README.md
Due: none
