Repository vlasovskikh/funcparserlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittest, doctest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: "20.8b1"
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.0"
    hooks:
      - id: flake8
        args: ["--max-line-length=88"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.812"
    hooks:
      - id: mypy
        args: []
        files: "^tests/"
  - repo: local
    hooks:
      - id: unittest
        name: unittest
        entry: poetry run python -m unittest discover
        language: system
        types:
          - python
        pass_filenames: false
  - repo: local
    hooks:
      - id: doctest
        name: doctest
        entry: poetry run python -m doctest
        language: system
        files: (^funcparserlib/|^doc/|^docs/)
        types_or:
          - python
          - markdown

GH actions: Added running doctests
  .github/workflows/python-package.yml
Due: none

More informative docstrings with examples for `funcparserlib.parser` public API
  funcparserlib/parser.py
Due: unittest, doctest

Added a draft of the API Reference documentation based on mkdocs #29
  .gitignore
  README.md
  docs/api/index.md
  docs/api/lexer.md
  docs/api/parser.md
  docs/api/util.md
  docs/changes.md
  docs/index.md
  docs/media/extra.css
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: doctest

GH actions: Run py2-checks and py3-checks separately
  .github/workflows/python-package.yml
Due: none

Fixed the description of `Parser.parse()`
  funcparserlib/parser.py
Due: unittest, doctest

docs: Overview -> API Overview
  mkdocs.yml
Due: none

docs: Use a single code fence block for the examples in the docstring for `a()`
  funcparserlib/parser.py
Due: unittest, doctest

docs: Added docstring for `funcparserlib.lexer`
  docs/api/lexer.md
  funcparserlib/lexer.py
Due: unittest, doctest

docs: More details about `pretty_tree()`
  funcparserlib/util.py
Due: unittest, doctest

GH actions: Renamed "Python package" to "Python checks"
  .github/workflows/python-checks.yml
Due: none

GH actions: Added a workflow to deploy docs to GitHub Pages
  .github/workflows/gh-pages.yml
Due: none

deploy: 95df326de06b911c237021f5830d2e54a536b77b
  sitemap.xml.gz
Due: none

GH actions: Fixed setting up Python for GH Pages
  .github/workflows/gh-pages.yml
Due: none

deploy: 6760cde66fb76c3fd803a1793d38865fb8f7530e
  sitemap.xml.gz
Due: none

Create CNAME
  CNAME
Due: none

GH actions: Set CNAME for GH Pages
  .github/workflows/gh-pages.yml
Due: none

deploy: 000c714b82d14dd1f2fa959644ab3f0a2317ad4e
  CNAME
  sitemap.xml.gz
Due: none

Added '-p' ignored operator with more strict type hints for '-p' and 'p1 + p2'
  docs/api/parser.md
  funcparserlib/parser.py
  funcparserlib/parser.pyi
  tests/dot.py
  tests/json.py
  tests/test_parsing.py
Due: unittest, doctest

deploy: 2507b881aca17eb229b6c116fdd8c0722f784879
  api/parser/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

changes.md: Added `-p`
  docs/changes.md
Due: doctest

deploy: 39b3b557bf8337a1501b7025c7cf0db83965ba87
  changes/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Fixes bug in equality operator in Token class
  funcparserlib/lexer.py
Due: unittest, doctest

Allow `specs` to be a `Sequence` instead of `List`
  funcparserlib/lexer.py
  funcparserlib/lexer.pyi
Due: unittest, doctest

Added a test for #58
  tests/test_parsing.py
Due: unittest

changes.md: Mentioned #58
  docs/changes.md
Due: doctest

deploy: 227e1131673c87238a62db8fddbd9543064c745a
  api/lexer/index.html
  changes/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Added `tok(type[, value])` for more compact grammars, better error messages
  README.md
  docs/api/parser.md
  docs/changes.md
  funcparserlib/parser.py
  funcparserlib/parser.pyi
  tests/dot.py
  tests/json.py
  tests/test_parsing.py
Due: unittest, doctest

Parse exceptions now show expected tokens and grammar rules at the stopped position #52
  docs/api/parser.md
  docs/changes.md
  funcparserlib/parser.py
  funcparserlib/parser.pyi
  tests/test_parsing.py
Due: unittest, doctest

deploy: 93257833acca90fd687fcdb01fb5ca9f070a415d
  api/parser/index.html
  changes/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fixed tests compatibility with Python 2.7
  tests/test_parsing.py
Due: unittest

deploy: d4ba3955ffc10544dbae6aaed68bcab21d0c294b
  sitemap.xml.gz
Due: none

Show expected token using __str__ instead of __repr__ for more user-friendly messages on custom token types
  funcparserlib/parser.py
Due: unittest, doctest

deploy: 705a3abdf363c456f8d6775adf722d242303e247
  sitemap.xml
  sitemap.xml.gz
Due: none

Make `parser` optional to `State()` to restore backwards compatibility
  funcparserlib/parser.py
  funcparserlib/parser.pyi
Due: unittest, doctest

Fixed `Optional` hints in `parser.pyi`
  funcparserlib/parser.pyi
Due: none

deploy: c34eee8c97a2e38d3f9dc8717c3d1827fac2d765
  sitemap.xml.gz
Due: none

Preserve u'' prefixes error messages for expected tokens in Python 2
  funcparserlib/parser.py
Due: unittest, doctest

deploy: 2041598f129b2b0a703353561ca3b8f0ab12bb8d
  sitemap.xml.gz
Due: none
